
@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,li{
	margin:0;
	padding:0;
}
/*body::-webkit-scrollbar{
	display: none;
}*/
a{
	text-decoration:none;
}
ul,ol,li{
	list-style:none;
}
body{
	width:100%;
	font-family: 'Poppins', sans-serif;
}
.home-banner1{
	clear:both;
	display: table;
	height:153px;
	margin: 0 auto 115px;
	
}
.home-banner1 img{
	display: block;
	margin-bottom:30px;
	
}
.home-banner1 a{
	float:left;
	position: relative;
	
}
.home-banner1 .bgDiv{
	width:241px;
	height: 99px;
	opacity:0.4;
	background: white;
	position: absolute;
	top:0;
	left:0;

}
.home-banner1 a:hover .bgDiv{
	opacity:0;
}

/*footer*/

.last{
	width:100%;
	background:black;
}
footer{
	width:1173px;
	height: 730px;
	
	margin-top:;
	margin: 120px auto 0;
}
.footerFirstSide{
	width:1173px;
	color:white;
	border-bottom:2px solid #1a1a1a;
	overflow: hidden;
}
.sideInfo{
	width:25%;
	padding:80px 0;
	float:left;
}
.sideInfo h3{
	font-size:22px;
	color:#ecedde;
	line-height:22px;
	padding-bottom:9px;
}

.sideInfo ul a{
	font-size:14px;
	color:#ecedde;
	line-height:25px;
	padding-top:19px;

}
.footerSecondSide{
	width:1173px;
	color:white;
	border-bottom:2px solid #1a1a1a;
	overflow: hidden;

}
.sideSecondInfo{
	width:25%;
	padding:30px 0;
	float:left;
}
.footerSecondSide .clearInfo a{
	padding-right:15px;
	padding-top:9px;
	float:left;
	vertical-align: middle;
}
.footerSecondSide .clearInfo {
	padding:40px 0;
}
.footerSecondSide p{
	font-size: 14px;
	color:white;
	line-height:21px ;
}
.footerThirdSide{
	text-align: center;
	padding: 50px 0;
	overflow: hidden;
	display: table;
	margin: 0 auto;
}
.footerThirdSide ul{
		margin-top:47px;
		overflow: hidden;
}
.footerThirdSide ul li{
	text-align: center;
	float: left;
	padding: 0 11px;
	
}
.footerThirdSide ul a{
	font-size: 13px;
	color:white;
	line-height:13px;
}
.footerThirdSide p{
	color:white;
	margin-top:21px;
	font-size: 12px;
}
.footerThirdSide p a{
	color:#696107;
	font-size: 14px;
}
.footerThirdSide a:hover{
	text-decoration: underline;
	color:#abd397;
	transition:all 0.3s ease 0s;
}
#scrolltopBtn{
	width:56px;
	height: 56px;
	border-radius: 50%;
	background:#362c2c;
	position:fixed;
	right:10px;
	bottom:10px;
	text-align: center;
	line-height: 56px;
	/*display: none;*/
}
#scrolltopBtn:hover{
	background:#ac0;
	box-shadow: 0 0 5px 3px white;
}
#sliderBox{
	width:600px;
	height: 300px;
}
.footerFirstSide ul li:hover a{
	color:#abd397;
	transition:all 0.3s ease 0s;
}