
header{
	height:860px;
	background: url(../imgs/slider/home1-slider1.jpg) no-repeat center center;
}
/*nav结束*/
/*header下的内容*/
.headersection{
	padding-left:47px;
	padding-right:30px;
	clear:both; 
}

.headersection .slider-left{
	float:left;
	padding-top:335px;
}

.headertitle{
	width:650px;
	padding-top: 138px;
	padding-left:161px;
}
.headertitle h1{
	font-size:62px;
	color:black;
	line-height:80px;
}
.border{
	width:123px;
	height: 5px;
	background: black;
	margin-top: 50px;
	margin-bottom: 55px;

}
.headertitle p{
	line-height:30px;
	color:#7c7c7c;

}
.collect-btn{
	margin-top: 42px;
	width:207px;
	height:55px;
	text-align: center;
	background: black;
}
.collect-btn:hover{
	background: #abd373;
}

.headertitle .collect-btn a{
	color:white;
	font-size:14px;
	font-weight: bolder;
	line-height:55px;
}
.headertitle .collect-btn a img{
	padding-left:2px;
	vertical-align: middle;
}
.headersection .slider-right{
	float:right;
	padding-top:335px;
}


/*server*/
.server{
	margin:116px auto;
	margin-top: 116px ;
	margin-bottom: 116px ;
	height:160px;
	display:table;
	box-sizing: border-box;
}
.send{
	box-sizing: border-box;
	/*border:1px solid #ccc;*/
	padding:55px 77px 51px 37px;
	background:white;
	float:left;
	margin-left:25px;
	transition: all 0.2s ease-in-out;
	box-shadow:0px 2px 5px 2px #f3f3f3;
}
.mouseinout{
	transition: all 0.2s ease-in-out;
	box-shadow:0px 2px 5px 2px #cfcbcb;
}
.mouseinout:hover{
	box-shadow:0px 10px 20px 6px #cfcbcb;
}
.mouseinout:hover .Categories-center{
	background: #ac0;
	color:white;
}
.mouseinout:hover .Categories-center  h4{
	color:white;
}
.mouseinout:hover .Categories-center  h2{
	color:white;
}

/*send开始*/
.send img{
	float: left;
}
.text{
	width:155px;
	float:left;
	margin-left: 40px;
	color:black;
}
 .text h3{
	font-size: 14px;
	line-height: 31px;
}
.text p{
	font-size: 10px;
	line-height: 19px;
	padding-bottom: 11px;
}

/*ourHistory  start*/
.ourHistory-title{
	margin:0 auto;
	text-align: center;
	position: relative;
}
.ourHistory-title h1{
	font-size: 66px;
	line-height: 92px;
	color:black;
	padding-bottom: 38px;
}
.line{
	margin-top: 50px;
	width:328px;
	height: 2px;
	background: #d5e9b9;
	margin:0 auto;
}
.ourHistory-title span{
	display: block;
	height: 24px;
	font-size: 17px;
	line-height: 24px;
	padding:0 14px;
	color:#b4b4b4;
	background: white;
	position: absolute;
    bottom: -11px;
    left: 668px;
}
/*historyText*/
.historyText{
	width:771px;
	height:379px;
	margin:40px auto 0;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom:116px;
}
.historyText p:first-child{
	font-size: 20px;
	line-height: 36px;
	color:black;
	font-weight: bolder;
	padding-bottom: 35px;

}
.historyText p:last-child{
	font-size: 16px;
	line-height: 37px;
	color:black;
	padding-bottom: 110px;
}

/*Categories*/
.Categories-title{
    width: 100%;
    text-align: center;
    position: relative;  
}

.Categories-title .line{
	margin-top: 50px;
	width:328px;
	height: 2px;
	background: #d5e9b9;
	margin:0 auto;
}
.Categories-title span{
	display: block;
	height: 24px;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	color:#b4b4b4;
	background: white;
	position: absolute;
    bottom: 39px;
    left: 660px;
    padding:0 15px;
}
.Categories-title h1{
	font-size: 40px;
	color:black;
	line-height: 40px;
	padding-top: 10px;
}


/*Categories-connect*/
.Categories-connect{
	height:620px;
	margin-bottom: 30px;
	display:table;
	margin:56px  auto 0;
}
.left-rowside{
	width:570px;
	height:620px;
	float:left;
	position: relative;

}
.left-rowside a img{
	width:570px;
	height: 620px;
}
.Categories-center{
	box-sizing: border-box;
	width:120px;
	padding:12px 0; 
	text-align: center;
	border:1px solid white ;
	background:white;
	position: absolute;
	top:363px;
	left:258px;
}
.Categories-center h2{
	font-size:11px;
	color:black;
}
.Categories-center h4{
	font-size:9px;
	color:#abd6a9;
}
/*right-row*/
.right-rowside{
	width:825px;
	height:620px;
	float:right;
}
.right-first{
	float:left;
	position: relative;
	margin-left:29px;
}
.right-rowside a{
	float:left;
}
.right-first a img {
	width:450px;
	height: 264px;
	display: block;
	
}
.right-first .Categories-center{
	box-sizing: border-box;
	width:120px;
	padding:12px 0; 
	text-align: center;
	border:1px solid white 0.3;
	background:white;
	position: absolute;
	top: 89px;
    left: 172px;
}
.right-two  {
	float:left;
	margin-left:20px;
	position: relative;

}
.right-two a img {
	width:320px;
	height: 264px;
		
}
.right-two .Categories-center{
	box-sizing: border-box;
	width:120px;
	padding:12px 0; 
	text-align: center;
	border:1px solid white 0.3;
	background:white;
	position: absolute;
	top: 89px;
    left: 100px;
}
.right-three  {
	float:left;
	margin-left:29px;
	position: relative;
	margin-top:40px;

}
.right-three a img {
	width:320px;
	height: 276px;
		
}
.right-three .Categories-center{
	box-sizing: border-box;
	width:120px;
	padding:12px 0; 
	text-align: center;
	border:1px solid white 0.3;
	background:white;
	position: absolute;
	top: 89px;
    left: 100px;
}
.right-four{
	/*width:450px;
	height: 276px;*/
	float:right;
	position: relative;
	margin-left:25px;
	margin-top:40px;
}
.right-four a img {
	width:450px;
	height: 276px;
	
}
.right-four .Categories-center{
	box-sizing: border-box;
	width:120px;
	padding:12px 0; 
	text-align: center;
	border:1px solid white ;
	background:white;
	position: absolute;
	top: 89px;
    left: 172px;
}


/*.featured-Products    start*/
.featured-title{
    width: 100%;
    text-align: center;
    padding-top:120px;
    position: relative;  
    margin-bottom: 69px;
}
.featured-title .line{
	margin-top: 50px;
	width:328px;
	height: 2px;
	background: #d5e9b9;
	margin:0 auto;
}
.featured-title span{
	display: block;
	height: 24px;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	color:#b4b4b4;
	background: white;
	position: absolute;
    bottom: 39px;
    left: 660px;
    padding:0 15px;
}
.featured-title h1{
	font-size: 40px;
	color:black;
	line-height: 40px;
	padding-top: 10px;
}
	
/*featured-connect   start*/
.featured-connect{
	width:1170px;
	/*display: table;*/
	margin:0 auto ;
	padding-bottom: 116px;
	overflow: hidden;
}
.featured-connect img{
	width:270px;
	height: 278px;
}


.product-first{
	/*width:270px;
	height: 378px;*/
	text-align: center;
	background: white;
	position: relative;
	padding-bottom: 40px;
	float:left;
    margin:  2px 24px 27px 2px;
	
}
.product-first:hover{
	box-shadow: 0px -1px 3px 1px #ccc;
	transition: all 0.2s ;
}
.info h3{
	width:270px;
    font-size:11px ;
    color:#2f2f2f;
    line-height:49px;
    padding:16px 0;
}
.product-first .pirse{
		position: absolute;
    left: 108px;
    bottom: 39px;
}
.product-first .pirse span{
	width:270px;
    font-size:10px ;
    color:#868686;
    /*line-height:14px;*/
  
}
.product-first .addcart{
	display: none;
	position: absolute;
    left: 108px;
    bottom: 39px;
    z-index: 1;
    
}
.product-first .addcart a{ 
	font-size:10px ;
    color:#868686;  
}
.productChioceIcon{
	width:160px;
	height:50px;
	background: white;
	position: absolute;
	top: 117px;
    left: 55px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px -1px 3px 1px #ccc;
    /*padding:18px 0;*/
    display: none;
    line-height: 50px;
}
.productChioceIcon .iconfont{
	font-size:15px;
	color:#939393;
	font-weight: bold;
	padding:0px 14px;

 
}
.productChioceIcon .iconfont:hover{
	color:#ac0;
}
.featured-connect .four{
	margin-right: 0;
}
.slider-dotted {
	clear:both;
	display: table;
	margin:0 auto ;
}
.slider-dotted ul li:first-child{
	background: black;

}
.slider-dotted ul li{
	width:13px;
	height:13px;
	border-radius: 50%;
	border:1px solid black;
	float:left;
	margin-right:4px;
}
.slider-product{
	display: none;
}
.the-day{
	height:885px;
	background: red;
	background:url(../imgs/bg/bg1.jpg) no-repeat top center;
	margin:0 auto;
	padding-top: 118px;
}
.the-day h3{
	font-size:40px ;
	color:black;
	line-height:40px;
	text-align: center;
	margin:0 auto;
}
.the-day-date {
	width:625px;
	height:80px;
	background:white;
	margin:50px auto 0;
}
.date-product a img{
	width:373px;
	height:373px ;
}
.date-product {
	width:1170px;
	height:486px;
	margin:0 auto;
	position: relative;
}
.date-product-first{
	margin-top:75px;
	width: 373px;
	text-align: center;
	position: relative;
	padding-bottom: 40px;
	float:left;
	margin-bottom: 15px;
	margin-right: 25px;
}
.date-product-first h3{
    font-size:11px ;
    color:#2f2f2f;
    line-height:49px;
    padding:16px 0;
}
.date-product-first .pirse span{
    font-size:10px ;
    color:#868686;
    line-height:14px;
}
.date-product-first .addcart{
	position: absolute;
    left: 155px;
    bottom: 41px;
    /*display: none;*/
}
.date-product-first .addcart a{
    font-size:10px;
    color:#868686;
    line-height:14px;
    
}
.date-product .productChioceIcon{
	position: absolute;
	top: 166px;
    left: 108px;
}
.date-product .three{
	margin-right:0;
}
.date-product-first:hover{
	box-shadow: 0px -1px 3px 1px #ccc;
	transition: all 0.2s ;
}
.date-product-first i:hover{
	color:#ac0;
}

/*guide*/
.guide{
	width:100%;
	padding-left: 0.5%;
	overflow: hidden;	
}
.guide a{
	float: left;
	width: 32%;
	margin-right: 1.5%;
	overflow: hidden;
	margin-bottom: 110px;
}
.guide a:last-of-type{
	margin-right: 0;
}
.guide a img{
	width:100%;
}
.guide img:hover{
	transform: scale(1.2);
	transition: all 0.3s;
}
/*We love our clients*/
.our-clients{
	position: relative;

}
.our-clients-connect{
	margin-top:56px;
}
.photo{
	display: table;
	margin: 0 auto 60px;
}
.photo img{
	width:150px;
	height:150px;
	border-radius: 50%;
}

.clients-Say{
	width:1173px;
	/*height: 248px;*/
	/*display: table;*/
	margin:0 auto;
	text-align: center;
	/*background: pink;*/
	padding-bottom: 80px;
	/*padding:0 213px 28px 180px;*/
	
}
.clients-Say .whole{
     color:#737373;
     font-size: 20px;
     line-height: 32px; 
     text-align:center;
     padding:0 185px;
}
.subName{
	color:#767676;
	font-size: 10px;
	margin-top:34px;
}
.subName p span{
	color:#b9da8a;
	font-weight: bold;
	
}
.home-banner1{
	display: table;
	height:153px;
	margin: 0 auto 115px;
	
}
.home-banner1 img{
	display: block;
	margin-bottom:30px;
	
}
.home-banner1 a{
	float:left;
	position: relative;
	
}
.home-banner1 .bgDiv{
	width:241px;
	height: 99px;
	opacity:0.4;
	background: white;
	position: absolute;
	top:0;
	left:0;

}
.home-banner1 a:hover .bgDiv{
	opacity:0;
}

/*theBlogs*/
.theBlogs{
	background:#f8f8fa;
	padding-top: 120px;
	
}
.blogsConnect{
	width:1173px;
	padding-top: 65px;
	overflow: hidden;
	margin: 0 auto ;
	padding-bottom: 25px;

}
.blogsSide{
	width:373px;
	background:white;
	padding-bottom: 55px;
	margin-right:27px;
	float:left;
	
}
.blogsSide img{
	width:373px;
	height: 220px;
	display: block;
}
.blogsSide>a{
	width:373px;
	height:220px;
	display: block;
	overflow: hidden;
}
.blogsSide a img:hover{
	transform: scale(1.2);
	transition: all 0.7s ease-in-out;
}
.blogsSideText{
	padding-left:33px;
	margin-top:33px;
}
.blogsSideText h6{
	font-size:13px;
	color:#b6d985;
	line-height:13px;
	margin-bottom: 18px;

}
.blogsSideText h3 a{
	font-size:15px;
	color:#b9b9b9;
	line-height:15px;
	margin-bottom: 5px;
}
.blogsSideText p{
	font-size:11px;
	color:#656565;
	line-height:26px;
	margin-bottom: 25px;
}
.blogsSidePho{
	height:52px;
}
.blogsSidePho img{
	height:52px;
	width:52px;
	border:1px solid #e2e2e2;
	border-radius:50%;
	float:left;
	vertical-align: middle;
}
.blogsSidePho span{
  display: block;
   padding-left:64px;
   padding-top:19px;
   font-size:9px;
	color:#656565;
	line-height:9px;
}
.blogsSidePho span a{
   font-size:9px;
	color:#c5e19f;
	line-height:9px;
}
.sidethree{
	margin-right: 0;
}
