@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,li{
	margin:0;
	padding:0;
}
/*body::-webkit-scrollbar{
	display: none;
}*/
a{
	text-decoration:none;
}
ul,ol,li{
	list-style:none;
}
body{
	width:100%;
	font-family: 'Poppins', sans-serif;
}
/*header*/
header{
	width:100%;
	/*height:860px;*/
	/*background: url(../imgs/slider/home1-slider1.jpg) no-repeat center center;*/
}
/*nav全部部分开始*/
.homenav{
	padding:20px 0;	
	height:61px;
	font-size: 14px;
	font-weight:bolder;
	color:#4a4a4a;
	line-height:61px;
	z-index:999;
	/*opacity: 0.3;*/
}
.homelogo{
	padding-left:153px;
	float:left;
}
.nav-list{
	float:right;
}


/*nav前半部分*/
.nav-list  nav{
	float:right;
}
.menuList{
	float:left;
	position: relative;
	padding:0 33px;
}
.menuList>a{
    font-size: 14px;
	font-weight: bolder;
	color:#4a4a4a;
	padding:2px 0;
}
.menuList ul{
	background:white;
	width:200px;
	padding:17px 0px 0px 20px;
	box-shadow: 0 1px 3px 0px #ccc;
	position: absolute;
	left:0;
	top:50px;
	display: none;
}
.menuList ul li a{
	font-size: 14px;
	color:#6a6a6a;
	font-weight: normal;
}
 .menu.FeaturesMenu{
    width:600px;
    position: absolute;
    left:-120px;
    top:50px;
}

.menuList ul li:hover a{
	color:#abd373;
}
/*nav后半部*/
.nav-other{
	float:right;
	margin-left:40px;
	line-height: 61px;
	padding-right: 100px;
}
.nav-other img{
	vertical-align: middle;
}
.cart{
	float:right;
	width:96px;
	height:61px;
	position: relative;
	line-height: 61px;
}
.cart p{
	font-size: 12px;
	font-weight: bolder;
	color:#4a4a4a;
	line-height:12px;
	padding-left: 36px;
	padding-top: 18px;
}
.cart:hover p{
	color:#abd373;
	cursor: pointer;
}
.carticon{
	position: absolute;
	left:0;
	top:15px;
}
.home-search{
	display:inline-block;
	float:right;
	position: relative;
}
.search-box{
	 position: relative;
	 left:-29px;
	 top:0px;
	 float：left;
	 /*display: none;*/
}
.search-box {
    width:220px;
    height: 40px;
    outline:none;
    border:none;
    box-shadow: 0 0 1px 2px #d9d8d7;
    text-indent: 12px;
    padding-right: 24px;
    font-size: 16px;
    color:#757575;
    display: none;
   
}
.input-search{
	position: absolute;
	top: 23px;
    left: 280px;
	z-index: 9999;

}
.searchIcon{
	padding:0 38px;
}
.home-list{
	float:right;
	position: relative;
}
.home-list ul{
	float:left;
	position: absolute;
    background:white;
	width:200px;
	padding:17px 0px 0px 20px;
	box-shadow: 0 1px 3px 0px #ccc;
	position: absolute;
	left:0;
	top:50px;
	display: none;
	z-index: 999;
	background:white;
	width:200px;
	padding:17px 0px 0px 20px;
	box-shadow: 0 1px 3px 0px #ccc;
	display: none;
}
.home-banner1{
	display: table;
	height:153px;
	margin: 0 auto 115px;
	
}
.home-banner1 img{
	display: block;
	margin-bottom:30px;
	
}
.home-banner1 a{
	float:left;
	position: relative;
	
}
.home-banner1 .bgDiv{
	width:241px;
	height: 99px;
	opacity:0.4;
	background: white;
	position: absolute;
	top:0;
	left:0;

}
.home-banner1 a:hover .bgDiv{
	opacity:0;
}

/*footer*/
.last{
	width:100%;
	background:black;
}
footer{
	width:1173px;
	height: 730px;
	
	margin-top:;
	margin: 120px auto 0;
}
.footerFirstSide{
	width:1173px;
	color:white;
	border-bottom:2px solid #1a1a1a;
	overflow: hidden;
}
.sideInfo{
	width:25%;
	padding:80px 0;
	float:left;
}
.sideInfo h3{
	font-size:22px;
	color:#ecedde;
	line-height:22px;
	padding-bottom:9px;
}

.sideInfo ul a{
	font-size:14px;
	color:#ecedde;
	line-height:25px;
	padding-top:19px;

}
.footerSecondSide{
	width:1173px;
	color:white;
	border-bottom:2px solid #1a1a1a;
	overflow: hidden;

}
.sideSecondInfo{
	width:25%;
	padding:30px 0;
	float:left;
}
.footerSecondSide .clearInfo a{
	padding-right:15px;
	padding-top:9px;
	float:left;
	vertical-align: middle;
}
.footerSecondSide .clearInfo {
	padding:40px 0;
}
.footerSecondSide p{
	font-size: 14px;
	color:white;
	line-height:21px ;
}
.footerThirdSide{
	text-align: center;
	padding: 50px 0;
	overflow: hidden;
	display: table;
	margin: 0 auto;
}
.footerThirdSide ul{
		margin-top:47px;
		overflow: hidden;
}
.footerThirdSide ul li{
	text-align: center;
	float: left;
	padding: 0 11px;
	
}
.footerThirdSide ul a{
	font-size: 13px;
	color:white;
	line-height:13px;
}
.footerThirdSide p{
	color:white;
	margin-top:21px;
	font-size: 12px;
}
.footerThirdSide p a{
	color:#696107;
	font-size: 14px;
}
.footerThirdSide a:hover{
	text-decoration: underline;
	color:#abd397;
	transition:all 0.3s ease 0s;
}
#scrolltopBtn{
	width:56px;
	height: 56px;
	border-radius: 50%;
	background:#362c2c;
	position:fixed;
	right:10px;
	bottom:10px;
	text-align: center;
	line-height: 56px;
	display: none;
}
#scrolltopBtn:hover{
	background:#ac0;
}
#sliderBox{
	width:600px;
	height: 300px;
}
.footerFirstSide ul li:hover a{
	color:#abd397;
	transition:all 0.3s ease 0s;
}