@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,li{
	margin:0;
	padding:0;
}
/*body::-webkit-scrollbar{
	display: none;
}*/
a{
	text-decoration:none;
}
ul,ol,li{
	list-style:none;
}
body{
	width:100%;
	font-family: 'Poppins', sans-serif;
}
.bigTitle{
	text-align: center;
	padding:73px 0;
	background: #f4f4f4;
	margin-bottom:120px;
}
.bigTitle h1{
	font-size: 47px;
	padding-bottom: 30px;
}
.bigTitle p a{
	font-size: 14px;
	padding: 0 20px;
	color:#7c6666;
}
.bigTitle p a:last-of-type{
	font-size: 14px;
	padding: 0 20px;
	color:#abd397;
}
.shoppingProduct{
	display: table;
	margin:0 auto 65px;

}
.shoppingList{
	border:1px solid #ebebeb;
	border-collapse: collapse;
	text-align: center;
}

.shoppingList th{
	height: 65px;
	border:1px solid  #ebebeb;
	background: #f6f6f6;
}
.shoppingList th:nth-of-type(1){
	width:152px;
}
.shoppingList th:nth-of-type(2){
	width:205px;
}
.shoppingList th:nth-of-type(3){
	width:338px;
}
.shoppingList th:nth-of-type(4){
	width:170px;
}
.shoppingList th:nth-of-type(5){
	width:161px;
}
.shoppingList th:nth-of-type(6){
	width:140px;
}
.shoppingList td{
	height: 130px;
	border:1px solid  #ebebeb;
}
.shoppingList i a{
	color:black;
}
.shoppingList span{
	font-weight: 700;
}
.shoppingList i:hover{
	color:#abd373;
	transition: all 0.3s ease 0s;

}
.shoppingList a:hover{
	color:#abd373;
	transition: all 0.3s ease 0s;
}
.shoppingList input{ 
	height: 40px;
    width: 55px;
	border:none; 
	border: 1px solid #ededed;  
	font-size: 14px;
	color: #222555;
	padding-left: 4px;
}
/*row1*/
.row1{
	width:1170px;
	overflow:hidden;
	display: table;
	margin: 0 auto 54px;
}
.row1Left{
	float: left;
}
.row1 .rowSubright{
   float: right;
}
.row1LeftText  {
	float: left;
	margin-right: 4px;
}
.rowSub{
	float: left;
}
.row1LeftText input{
	width:118px;
	height:42px;
	outline: none;
	padding-left: 10px;
}
.rowSub input{
	width:162px;
	height:46px;
	float: left;
	outline: none;
	border:none;
	background: #333333;
	color:white;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}
.row2{
	width:1170px;
	overflow: hidden;
	display: table;
	margin: 0 auto;
	
}
.carttotal{
	float:right;
	
}
.carttotal>h2{
	font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.productList{
	width:473px;
	border:1px solid  #ebebeb;
	border-bottom:none;
	margin-bottom: 30px;
}
.productList li{
	font-size: 15px;
    color: #252525;
    padding: 13px 30px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 700;
}
.productList li span {
	float:right;
}
.carttotal>a{
	display:inline-block;
	padding:10px 20px;
	background: #333333;
	color:white;
	transition: all 0.3s ease 0s;
}
 .rowSub:hover input{
   background:#abd373;
   transition:all 0.3s ease 0s;
 }
 .carttotal>a:hover{
   background:#abd373;
   transition:all 0.3s ease 0s;

 }
 .section{
 	padding-bottom: 115px;
 }