@charset "utf-8";
$color:#abd397;
$borderColor:#d3d0d3;
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,li{
	margin:0;
	padding:0;
}
/*body::-webkit-scrollbar{
	display: none;
}*/
a{
	text-decoration:none;
}
ul,ol,li{
	list-style:none;
}
body{
	width:100%;
	font-family: 'Poppins', sans-serif;
}
.banner{
	width:1170px;
	height:242px;
	margin:0 auto;
}
.section{
	width:1170px;
	height:460px;
	margin:120px auto;
	background:red;
}
.showImg{
	float:left;
}
.showImg img{
	width:470px;
	height:460px;
	display:block;
}
.showinfo{
	float:right;
	width:672px;
	height:460px;
	background: red;
	padding-right:5px;
}
.row1{
	overflow: hidden;
}
.row1 h2{
	float:left;
	font-size: 20px;
	color:#645f59;
	line-height: 20px;
}
.row1 .contol{
	float:right;
} 
.contol a{
	display:inline-block;
	font-size:7px;
	line-height: 7px;
	padding:10px;
	margin-right:10px;
	border:1px solid #dcdcdc;
	text-align:center;
}
.row2 a{
	font-size:12px;
	line-height: 12px;
	padding-left:10px;
	color:#dcdcdc;
}
.row2 img{
	vertical-align: middle;
}
.row2 a:hover{
	color:$color;
}
.row2{
	margin:15px 0;
}
.row3{
	height:31px;
}
.linePrise{
	text-decoration: line-through;
    color: #999;
    font-size: 14px;
    padding-right: 5px;
    line-height: 31px;
}
.newPirse{
	color: #555;
    font-size: 16px;
    font-weight: 600;
     line-height: 31px;
}
.row4{
	margin:35px 0;
}
.row4 p{
	color: #666;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    font-weight:100;
}
.row5 i{
	color:$color;
	vertical-align: middle;
}
.row5 p{
	color: #666666;
    font-size: 12px;
    font-weight: 700;
    line-height:12px;
    padding:6px;
    text-transform: uppercase;
    margin-bottom:17px;
}
.row6 input{
	display:inline-block;
	width:80px;
	height:40px;
	padding-left:12px;
	outline: none;
	border:1px solid $borderColor;
}
.row6 .addcbtn{
	background: #abd373;
    border: none;
    outline: none;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    height: 42px;
    letter-spacing: 2px;
    line-height: 42px;
    padding: 0 40px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.row7{
	margin:25px 0 60px 0;
}
.row7 .favorate{
	margin-right:23px;
}
.row7 a{
	background: none;
    border: 1px solid #ededed;
    color: #555;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 45px;
    line-height: 43px;
    text-align: center;
    width: 170px;
    transition: .3s ease;
}